@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-b-animate {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  background-color: #171717;
  padding-inline: 1rem;
  /* transition: all 0.5s; */

  /* &::after {
  }

  &::focus-within {
    &:after {
      background-color: white;
      content: " ";
      width: 100%;
      height: 0.1rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  } */
}

.custom-border-b-animate:after {
  transition: all 0.5s;
  background-color: none;
  content: " ";
  width: 0%;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-border-b-animate:focus-within:after {
  background-color: white;
  content: " ";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: black;
  color: white;
  min-height: 100vh;
  /* height: 100vh; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
